.App {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  color: #010101;
  min-height: 100vh;
  background: linear-gradient(rgb(12, 49, 169), rgb(204, 212, 121));
}
